/* body {
  background-color: #cdf664;
  background-image: url(../../../../assets/images/group-pink.svg);
  background-repeat: no-repeat;
  background-position: 0px 170px;
  background-size: 100% 100%;
} */
