<body>
  <div
    class="displayTable card position-absolute top-50 start-50 translate-middle"
  >
    <div class="displayTableCell content-card">
      <div class="authBlock text-center">
        <h3>Thank You for Registering</h3>
        <div
          class="formGroup paragraph-sty"
          *ngIf="authService.userData as user"
        >
          <p class="text-center">
            We have sent a confirmation email to
            <strong>{{ user.email }}</strong
            >.
          </p>
          <p class="text-center">
            Please check your email and click on the link to verfiy your email
            address. Click below to resend the verification email.
          </p>
        </div>

        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button
            type="button"
            class="btn btnPrimary btn-resend"
            (click)="authService.SendVerificationMail()"
          >
            <i class="fas fa-redo-alt"></i>
            Resend Verification Email
          </button>
        </div>
      </div>
      <div class="redirectToLogin text-center">
        <span
          >Go back to?<span class="redirect" routerLink="/sign-in">
            Sign in</span
          ></span
        >
      </div>
    </div>
  </div>
</body>
