body {
  background-color: #cdf664;
  background-image: url(../../../assets/images/group-pink.svg);
  background-repeat: no-repeat;
  background-position: 0px 170px;
  background-size: 100% 100%;
}

.form-email {
  /* height: 35px;
  width: 755px;
  left: 262px;
  top: 348px;
  border-radius: 0px;
  margin-top: 15px;
  border-color: black;
  border-radius: 5px; */
  width: 755px;
  height: 34px;
  font-size: 14px;
}
.btn-back {
  text-align: end;
  margin-top: 15px;
}

.btn-continue {
  width: 755px;
  height: 34px;
  left: 262px;
  top: 199px;
  font-size: 14px;
  background-color: #ffc564;
  margin-top: 15px;
  margin-bottom: 15px;
}
